.legal-pad {
	background:
		linear-gradient( /* top */
			180deg,
			#6a2a1b,
			#6a2a1b 85px,
			transparent calc(85px + 2px)
		),
		linear-gradient( /* double vertical lines */
			90deg,
			transparent 0%,
			transparent 100px,
			#f5c492 100px,
			#f5c492 calc(100px + 2px),
			transparent calc(100px + 2px),
			transparent calc(100px + 6px),
			#f5c492 calc(100px + 6px),
			#f5c492 calc(100px + 8px),
			transparent calc(100px + 8px),
			transparent 100%
		),
		linear-gradient( /* header background */
			180deg,
			#fbee9f 200px,
			transparent 200px
		),
		repeating-linear-gradient( /* horizontal lines */
			180deg,
			#c9d798 0px,
			#c9d798 2px,
			transparent 2px,
			transparent 36px
		),
		linear-gradient( /* background */
			#fbee9f,
			#fbee9f
		);
}

@media (max-width: 600px) {
	.legal-pad {
		background:
			linear-gradient(
				180deg,
				#6a2a1b,
				#6a2a1b 85px,
				transparent calc(85px + 2px)
			),
			linear-gradient(
				180deg,
				#fbee9f 200px,
				transparent 200px
			),
			repeating-linear-gradient(
				180deg,
				#c9d798 0px,
				#c9d798 2px,
				transparent 2px,
				transparent 36px
			),
			linear-gradient(
				#fbee9f,
				#fbee9f
			);
	}
}

.MuiDialog-root .note-card {
	background:
		repeating-linear-gradient( /* horizontal lines */
			180deg,
			#c9d798 0px,
			#c9d798 2px,
			transparent 2px,
			transparent 36px
		),
		linear-gradient( /* background */
			#fbee9f,
			#fbee9f
		);
}

